{% extends 'admin/master.html' %}

{% block body %}
<h1>Tạo Người Dùng Mới</h1>
<form method="POST" enctype="multipart/form-data"> <!-- Thêm enctype để hỗ trợ upload file -->
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.name.label(class="form-label") }}
        {{ form.name(class="form-control", placeholder="Nhập họ tên") }}
    </div>
    <div class="form-group">
        {{ form.username.label(class="form-label") }}
        {{ form.username(class="form-control", placeholder="Nhập tên đăng nhập") }}
    </div>
    <div class="form-group">
        {{ form.password.label(class="form-label") }}
        {{ form.password(class="form-control", placeholder="Nhập mật khẩu") }}
    </div>
    <div class="form-group">
        {{ form.confirm.label(class="form-label") }}
        {{ form.confirm(class="form-control", placeholder="Xác nhận mật khẩu") }}
    </div>
    <div class="form-group">
        {{ form.email.label(class="form-label") }}
        {{ form.email(class="form-control", placeholder="Nhập email") }}
    </div>
    <div class="form-group">
        {{ form.role.label(class="form-label") }}
        {{ form.role(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.avatar.label(class="form-label") }}
        {{ form.avatar(class="form-control-file") }}
    </div>
    <button type="submit" class="btn btn-primary">Lưu</button>
</form>
{% endblock %}
